<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update post</title>
</head>
<body>
         <h1>Edit your form</h1>
         <h2>id : <%=post.id%></h2>
         <h2>username : <%=post.username%> </h2>
         <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
             <textarea  name="content"><%=post.content%></textarea>
             <button>Submit</button>
         </form>
        
</body>
</html>